/* .footer-container {
    color: darksalmon;
    background-color: darkslateblue;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0 2rem 0;
    height: 100%;
} */

.footer-logo {
    color: darksalmon;
    /* font-style: italic; */
    font-family: cursive;
    font-size: 2rem;
    font-weight: 600;
}

.footer-container {
    background-color: darkslateblue;
    color: darksalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.copyright {
    background-color: darkslateblue;
    color: darksalmon;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}